/* CSS Code, der für alle Web Pages gleich ist */

.webpage {
  display: flex;
  flex-direction: column;
  /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
  padding: 0;
  margin: 0;
}

.header {
  background-color: #ffd7b5;
  height: 100px;
}

.content {
  flex-grow: 1;
  background-color: #ffb38a;
}

.footer {
  background-color: #ff9248;
  height: 50px;
}